@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');tte

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* body{
    background-color: rgb(156, 146, 146);
} */
.menu{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: cornsilk;
    text-decoration: none;
	display: flex;
}
header{
    display: flex;
    background: #212221;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.menu{
    list-style: none;
}
.menu li{
    display: inline-block;
    padding: 0px 20px;
    text-decoration: none;
   

}
.menu li a{
    text-decoration: none;
    -webkit-text-fill-color: rgb(247, 242, 242);
    transition: all0.3s ease 0s;
}
.menu li a:hover{
    color: rgb(205, 236, 236);
}
button{
    padding: 9px 25px;
    background-color: #12A2A2;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all0.3s ease 0s;
}
button:hover{
    background-color: rgb(150, 218, 218);   
}
#main{
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    background: linear-gradient(to right,#0A1128, #12A2A2,#12A2A2, #0A1128);
}
.right-main{
    width: 600px;
    margin: 0px;
    padding: 40px 0px;
}
.right-main h1{
	font-size: 3.5rem;
	margin:0px;
	margin:0px 0px 10px 0px;
	line-height: 60px;
}
.right-main h3{
    display: block;
    font-size: 1.17em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding: 0px 5px;
}
.right-main p{
    font-size: 2rem;
	color:#ffffff;
    font-family: sans-serif;
    margin-block-end: 1em;
}
.portfolio-btn{
	width:190px;
	height: 50px; 
    display: flex;
	justify-content: center;
	align-items: center;
	color:#FFFFFF;
    background-color: rgb(36, 39, 39);
    text-decoration: none;
	border-radius: 20px;
	box-shadow: 4px 10px 30px rgba(14, 94, 80, 0.2);
}
.portfolio-btn:hover{
	background-color: #5e6463;
	transition: all ease 0.2s;
}
 
#about{
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
}
.container-about{
    display: flex;
	width: 80%;
	height: 330px;
	background-color: #FFFFFF;
	border-radius: 20px;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
	margin: 10px auto 20px auto;
	justify-content: space-evenly;
}
.about-me {
    margin: 15px;
    display: flex;
}
  .left-about {
   flex: 60%;
   margin: 10px;
   padding: 0px 10px;
   /* width: 50%;
   height: 100%;
   margin: 10px;
   */
}
.right-about {
    flex: 40%;
    margin: 5px 10px;
    padding: 0px 0px 10px 0px;
}

.left-about h1{
    font-size: 3em;
	margin:5px;
	line-height: 60px;
    color:#146e6e ;
}
.left-about h2{
 
    font-size: 1.57rem;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding: 0px 5px;
}
.left-about p{
    font-size: 1.3rem;
	color:#242020;
    font-family: sans-serif;
    margin-block-end: 1em;
}
.left-about p:nth-child(1){
	color:#403e3e;
	font-weight:bold;
	margin:0px;
	margin:0px 0px 10px 0px;
	line-height: 60px;
   }
   .left-about p:nth-child(2){
	color:#3e3d3d;
	font-family:popins;
	font-weight:bold;
	line-height:5px;
   }
   .left-about p:nth-child(3){
	color:#3f3e3e;
	font-family:calibri;
   }
 #skills{
  
	display: flex;
	justify-content: space-around;
	align-items: center;
	width:90%;
	margin:auto auto 50px auto;
}
.right-skill{
	width:400px;
}
.skill-text h1{
    font-size: 3em;
	margin:5px;
	line-height: 60px;
    color:#146e6e ;
}

.s-box-container{
	margin-top: 30px;
    
}
.skill-box{
	display: flex;
	align-items: center;
	margin: 25px 0px;
}
.s-box-icon{
	margin-right:12px;
}
.s-box-icon i{
	width:40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.s-box-text strong{
	color:#242020;
	margin: 0px;
	font-size: 1rem;
	font-weight: 600;

    align-items: center;
}
#handles{
	width:100%;
	/* border-top: 1px solid rgba(58,58,58,0.03);
	border-bottom: 1px solid rgba(58,58,58,0.03); */
	padding: 50px 0px;
	/* font-size: 1.5rem; */
	/* background-image: url("../images/bg.png"); */
	background-position: center;
	background-size: 1000px;
}
.handles-heading h1{
    text-align: center;
    font-size: 3em;
	margin:5px;
	line-height: 60px;
    color:#146e6e ;
}
.handles-heading h2{
    text-align: center;
    font-size: 1.57rem;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding: 6px 5px;
}
.h-box-container{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:20px 0px;
}
.handle-box {
	width:310px;
	height: 350px;
	background-color: #FFFFFF;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
	margin: 20px;
	box-shadow: 5px 10px 30px rgba(0,0,0,0.08);
}
.handle-box img{
	width:90px;
	height: 90px;
	border-radius: 50%;
	object-fit: cover;
}
/* .handle-box strong{
	color:#1c3548;
	margin:0px;
	font-size: 1.1rem;
	font-weight: 600;
	margin-top:10px;
} */
.handle-box p{
	color:#747474;
	font-size: 1rem;
	margin: inherit;
	text-align: center;
	display: block;
	display: -webkit-box;
	max-width: 80%;
	-webkit-line-clamp:4;
	-webkit-box-orient:vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.h-button{
	width:190px;
	height: 44px;
	display: flex;
	justify-content: center;
    text-decoration: none;
	align-items: center;
	color:#FFFFFF;
	background-color:#12A2A2;
	border-radius: 20px;
	box-shadow: 4px 10px 30px rgba(24,139,119,0.2);
}
.h-button:hover{
    background-color: rgb(150, 218, 218) ;
}
.handle-box a{
	width:140px;
	margin-top: 20px;
	border-radius: 50px;
}
.handle-box:hover{
	transform: translateY(-10px);
	box-shadow: 5px 10px 30px rgba(0,0,0,0.1);
    background-color: #d0d6d6;
	transition: all ease 0.2s;
}
#contact{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin:40px 0px;
}
#contact img{
	height:400px;
    width: 450px;
}
.contact-input{
	width:400px;
	height:50px;
	background-color:#FFFFFF;
	display:flex;
	justify-content: center;
	border-radius: 50px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.15);
}
.contact-input input{
	width:100%;
	background-color: transparent;
	border:none;
	outline: none;
	text-align: center;
	color:#242425;
}
.contact-input a{
	width:200px;
	height:35px;
	background-color:#12A2A2;
	color:#FFFFFF;
	display: flex;
	font-size: 0.9rem;
	justify-content: center;
	align-items: center;
	margin: auto 10px;
	border-radius: 20px;
	font-weight: 500;
	text-decoration: none;
}

.contact-input button{
	width: 200px;
	height: 40px;
	display: flex;
	justify-content: center;
    text-decoration: none;
	align-items: center;
	color:#FFFFFF;
	background-color:#12A2A2;
	border-radius: 20px;
	box-shadow: 4px 10px 30px rgba(24,139,119,0.2);
}
.contact-input button:hover{
    background-color: rgb(150, 218, 218) ;
}
